se-1.7/src/test/resources/jp.gr.java_conf.assout/jaxb/schema3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1:.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dataModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:complexType name="items">
					<xs:element name="item" type="xs:string" />
				</xs:complexType>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

