se-1.7/src/test/resources/jaxb/schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1:.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<complexType name="dataModel">
		<sequence>
			<element name="name" type="xs:string" minOccurs="0"
				nillable="false" />
			<element name="item" type="xs:string" nillable="true"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>
</xs:schema>

