se-1.7/src/test/resources/jaxb/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1:.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="dataModel">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"
				nillable="false" />
			<xs:element name="item" type="xs:string" nillable="true"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>

